<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Account Setting</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>

<body>
<div class="top_banner_placeholder">
    {% include 'top_banner.html' %}
</div>
<div class="main_content" style="margin: 0; padding: 0;">
    <div class="side_bar_placeholder">
        {% include 'side_bar.html' %}
    </div>

    <div class="content_area" id="content_area">
        <div class="content_slide hidden_content" id="account_setting">
            Setting
        </div>

    </div>
</div>
</body>
</html>