<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Question</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <script src="../static/add_question_functions.js"></script>
    <script src="../static/tinymce/tinymce.min.js"></script>
</head>

<body>
    <div class="top_banner">
        <div class="site_title">Add Question</div>
        <div class="logo_container">
            <img src="../pictures/RF0010-01_Rensselaer_Large_Logo-with_Tagline_RGB-Red.png" alt="RPI Logo">
        </div>
    </div>
    <div class="main_content">

        <div class="back">
            <a href="#####">
                BACK </a> </div>
        <div class="question_edit_area">
            <form action="/add" method="post" id="question_form">

                <div class="input_items">
                    <label for="q_code">Question Code:</label>
                    <input type="text" name="q-code" id="q_code">
                </div>
                <div class="input_items">
                    <input type="radio" name="permission" value="01"> Instructor only<br>
                    <input type="radio" name="permission" value="10"> Instructor, TA, and Mentors<br>
                    <input type="radio" name="permission" value="11"> Everyone<br>
                </div>
                <div class="tag_edit_area">
                    tags:
                    <ul class="tags" id="tagsList">
                        <template id="tag_template">
                            <li class="tag" id="tag_id">
                                <span>template</span>
                                <textarea name="tags" form="question_form"></textarea>
                                <button onclick="deletTage('id')" class="delet_tage_button">X</button>
                            </li>
                        </template>
                    </ul>
                    <button onclick="add_tage()" type="button">Add Tag</button>
                </div>
                <div class="question_edit_area">
                    Input Question:<br />
                    <div class="rich_text_editor_container">
                        <textarea id="edit_area" name="question" placeholder="Enter the question here."
                        form="question_form"></textarea>
                    </div>
                    <br>Upload Image for question: <input type="file" name="question_image">
                </div>
                <div class="choices" id="choices">
                    <div class="each_choice" id="choice_A">
                        A: <textarea name="choice" form="question_form"></textarea>
                        Upload Image: <input type="file" name="choice_image">
                    </div>

                </div>
                <button onclick="add_choice()" type="button" id="add_choice_button">Add More Choice</button>
                <div class="answer">
                    Upload the answer as PDF <br />
                    <input type="file" name="answer">
                </div>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
<script src="../static/tinymce_init.js"></script>
</html>