<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Buck-upload</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <style>
        #bulk_upload_button {color: #000000;}
    </style>
</head>

<body>
<div class="page">
    <div class="top_banner_placeholder">
        {% include 'top_banner.html' %}
    </div>
    <div class="main_content" style="margin: 0; padding: 0;">
        <div class="side_bar_placeholder">
            {% include 'side_bar.html' %}
        </div>

        <div class="content_area" id="content_area">
            <div class="content_slide" id="buck-upload">
                <form action="/buck_upload" method="post" id="buck_upload_form" enctype="multipart/form-data">
                    Select your file:<br>
                    <input type="file" name="buck_questions">
                    <input type="submit" value="Add">
                </form>


            </div>
        </div>
    </div>
</div>
</body>
</html>