<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Database Dashboard</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <style>
        #dashboard_button {color: #000000;}
    </style>

</head>

<body>
<div class="page">
    <div class="top_banner_placeholder">
        {% include 'top_banner.html' %}
    </div>
    <div class="main_content" style="margin: 0; padding: 0;">
        <div class="side_bar_placeholder">
            {% include 'side_bar.html' %}
        </div>

        <div class="content_area" id="content_area">
            <div class="content_slide " id="dashboard">
                Dashboard
            </div>
        </div>
    </div>
</div>
</body>
</html>