<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search Questions</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <style>
        #search_button {color: #000000;}
    </style>
</head>

<body>
<div class="page">
    <div class="top_banner_placeholder">
        {% include 'top_banner.html' %}
    </div>
    <div class="main_content" style="margin: 0; padding: 0;">
        <div class="side_bar_placeholder">
            {% include 'side_bar.html' %}
        </div>

        <div class="content_area" id="content_area">
            <div class="content_slide" id="search_questions">
                <div id="search_bar_container">
                    <form action="/query" method="post" id="search_form">
                        <input id="search_bar" form="search_form" name="key_word"
                               placeholder="Search by question code or tags">
                        <p class="small_text">Search by
                            <input type="radio" id="by_key_word" name="search_type" value="0" checked ="checked">
                            <label for="by_key_word" >by key word</label>
                            <input type="radio" id="by_tag" name="search_type" value="1">
                            <label for="by_tag">by tag</label>
                            <input type="radio" id="by_q-code" name="search_type" value="2">
                            <label for="by_q-code">by q-code</label>
                        </p>
                    </form>
                </div>
                <div id="result_stat hidden_content">
                    <p class="small_text"> relevant questions found.</p>
                </div>
                <div id="search_results_container" class="">
                    <!--Search result template for each question-->
                    <!--generate an ID for each results. Replace the Id with 'IdNumber'-->
                    {% for result in search_results %}
                    <div class="result_question_container">
                        <div class="code_difficulty">
                            <div class="result_titles q-code">Question Code:  {{result.id}}</div>
                            <div class="result_titles difficulty_level hidden_content">Difficulty Level</div>
                        </div>
                        <div class="result_titles categories" id="categories_IdNumber">Tags: {{result.tags}} </div>
                        <div id="text_content_IdNumber" class="text_content">
                            <p>
                                <span>{{result.testlet}}</span>
                                <span class="hidden_content">...</span>
                                <span class="hidden_content"></span>
                            </p>
                            <button onclick="Collapse('IdNumber')" class="collapse_buttons hidden_content">Read more</button>
                        </div>
                        <div class="action_options">
                            <button onclick="add_to_list('q-code')" class="action_buttons">Add to my list</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>