<div class="side_bar">
    <div class="side_menu">
        <button class="menu_options hidden_content" id="dashboard_button" onclick="change_content(0)">
            My Dashboard
        </button>
        <button class="menu_options current_option" id="search_button" onclick="change_content(1)">
            Search Questions
        </button>
        <button class="menu_options" id="add_q_button" onclick="change_content(2)">
            Add Questions
        </button>
        <button class="menu_options" id="buck-upload_button" onclick="change_content(3)">
            Buck-upload
        </button>
        <button class="menu_options" id="test_gen_button" onclick="change_content(4)">
            Test Generation
        </button>
    </div>
    <div class="side_bar_user_profile">
        <button class="menu_options" id="setting_button" onclick="change_content(5)">
            Account Setting
        </button>
    </div>
</div>