<div class="side_bar">
    <div class="side_menu">
        <button class="menu_options" id="dashboard_button" onclick="request_page('dashboard')">
            My Dashboard
        </button>
        <button class="menu_options" id="search_button" onclick="request_page('search')">
            Search Questions
        </button>
        <button class="menu_options" id="test_gen_button" onclick="request_page('test_generation')">
            Test Generation
        </button>
    </div>
    <div class="side_bar_user_profile">
        <button class="menu_options" id="setting_button" onclick="request_page('account_setting')">
            Account Setting
        </button>
        <button class="menu_options" id="log_out" onclick="request_page('logout')">
            Log Out
        </button>
    </div>
    <template id="side_bar_button_template">
        <button class="menu_options" id="button_template" onclick="request_page('example')">
            template
        </button>
    </template>
    <div class="data_receiver hidden_content">
        <script src="../static/side_bar.js"></script>
        <script type="text/javascript">
            side_bar_generator();
        </script>


    </div>
</div>